<div class="alert alert-warning" role="alert" ng-if="notFound">
  <span class="strong">Not Found</span>
  The package with the given id does not exist
</div>

<h3>{{ package.name }}</h3>
<hr>
<p><i>{{ package.summary }}</i></p>

<div ng-if='package.queue_status == "DONE"'>
  <accordion close-others="true">
  <accordion-group heading="{{ patch.name }} - Blob ID: {{ patch.hexsha }}" ng-repeat="patch in package.fedora_patches" is-open="patch.open">
    <h4>{{ patch.name }}</h4>
    <hr>
    <div ng-if="patchInfo[patch.hexsha].diffstat">
      <h5>Diffstat</h5>
      <div hljs source="patchInfo[patch.hexsha].diffstat" language="diff"></div>
    </div>

    <div ng-if="patchInfo[patch.hexsha].comments">
      <h5>Comments</h5>
      <div hljs source="patchInfo[patch.hexsha].comments" language="diff"></div>
    </div>

    <h5>Releases</h5>
    <a style="display: block;" ng-repeat="release in patchInfo[patch.hexsha].releases" href="http://pkgs.fedoraproject.org/cgit/{{ package.name}}.git/plain/{{ patch.name }}?h={{ release }}">{{ release }}</a>
  </accordion-group>
  </accordion>
</div>

<div ng-if='package.queue_status == "QUEUED"'>
  <div class="alert alert-warning" role="alert">
    Please wait while we fetch the patches for this package. The page will update automatically once it's done. Hang on!
  </div>
</div>

<div ng-if='package.queue_status != "QUEUED" && package.queue_status != "DONE"'>
  <div class="alert alert-warning" role="alert">
    {{ package.queue_status }}
  </div>
</div>
